body {
    background-image: url("/images/login_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  input, select{
    margin-top: -8px !important;
  }

  button {
    height: 50px;
  }